ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
}

li {
    font-size: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px; 
    width: 20%;
}

li a {
    text-decoration: none;
    font-family: 'Didact Gothic';
    color:white;
}

li a:hover:not(.active) {
    /* This is the background and text color you get when you hover over an option!*/
    background-color: #89BAD9;
    color: #111;
}

.active {
    /* This is the actice/current tab! */
    background-color: #3a95cf;
}

/*background gtadient goes here!*/
.content {
    /* top right bottom left */
    margin: 0px 10px 10px 10px;
}

.gradient {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 40%);
    height:100%;
}

body {
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px 0px 10px 0px;
    font-family: 'Didact Gothic';
}

p {
    font-family: 'Darker Grotesque';
}

.red {
    background-color: #eda6a6;
}

.orange {
    background-color: #edc0a4;
}

.yellow {
    background-color: #e8e1a0;
}

.green {
    background-color: #a8e8a0;
}

.blue {
    background-color: #a4e0ed;
}

.border {
    height: 10px;
}
